@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    background-image: url('/ims/img/pos_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway';
    color:#fff;
    margin: 0;
    padding: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}